<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="public/css/screen.css" />
<link rel="stylesheet" type="text/css" href="public/css/mobile.css" />
<div id="page">
{{#bio_data}}
	<div id="top-contact">
		<div class="contact-details">
			{{#email}}
			<div class="icon-envelope icon-square"></div> {{email}}<br />
			{{/email}}
			{{#phone}}
			<div class="icon-phone icon-square"></div> {{phone}}<br />
			{{/phone}}
			{{#github}}
			<div class="icon-github icon-square"></div><a href="{{github}}"> {{github}}</a>
			{{/github}}
		</div>
	</div>
	
	<h1 class="emphnext">{{firstname}} {{familyname}}</h1>
	{{#stars}}
	<span class="stars" style="clear:left">
		 {{#items}}
		 {{name}} {{^last}}<div class="icon-star-o icon-star"></div>{{/last}}
		 {{/items}}
	</span>
	{{/stars}}
	<br/><br/>

	{{#summary}}
	<h2><div class="icon-user icon-square"></div> ##summary##</h2>
	<ul>
		{{#points}}
		<li>{{{.}}}</li>
		{{/points}}
	</ul>
	{{/summary}}

	{{#education}}
	<h2><div class="icon-mortar-board icon-rect"></div> ##education##</h2>
		{{#schools}}
		<b style="float: left; margin-bottom: 0">{{institution}}</b>
		<p style="float: right; margin-bottom: 0">{{year}}</p>
		<p style="clear:left; float: left; margin-bottom: 0">{{degree}}</p>
		<i style="float: right; margin-bottom: 0">Cumulative GPA: {{gpa}}</i>
		{{/schools}}
		<ul style="clear:both">
			{{#details}}
			<li>{{{.}}}</li>
			{{/details}}
		</ul>

	{{/education}}

	{{#skills}}
	<h2><div class="icon-th-list icon-square"></div> ##skills##</h2>
	<ul class="languages">
		{{#details}}
		<li>{{type}}: 
			{{#items}}
			<span class="label label-default">{{name}}</span>
			{{/items}}
		</li>
		{{/details}}
	</ul>
	{{/skills}}

	{{#projects}}
	<h2><div class="icon-gear icon-square"></div> Projects</h2>
	<ul>
		{{#items}}
		<li>
			<b>{{{headline}}}</b>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
				{{#technology_used}}
				<li>##technology_used##: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}			
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/projects}}

	{{#experience}}
	<h2><div class="icon-briefcase icon-square"></div> ##experience##</h2>
	<ul>
		{{#items}}
		<li><b>{{title}}</b>,{{{organisation}}}{{#location}}, {{{location}}}{{/location}}
			<span class="right">({{from}} - {{to}})</span>
			<ul>
				{{#details}}
				<li>{{{.}}}</li>
				{{/details}}
				{{#technology_used}}
				<li>##technology_used##: 
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/experience}}

	{{#research_experience}}
	<h2><div class="icon-institution icon-square"></div> ##research_experience##</h2>
	<ul>
		{{#items}}
		<li>
			<b>{{title}}</b> 
			<span class="right">({{from}} - {{to}})</span>
			<p style="font-style: italic; margin-bottom:0">Supervised by: {{{supervisor}}}</p>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/research_experience}}

	{{#papers}}
	<h2><div class="icon-edit icon-square"></div> ##papers##</h2>
	<ul>
		{{#items}}
		<li>
			<p style="font-weight:bold; margin-bottom:0">{{title}}</p> 
			<p style="float: left">{{authors}}</p> 
			<p style="float: right">{{{misc}}}</p>
		</li>
		{{/items}}
	</ul>
	{{/papers}}
	
	{{#extra_curricular}}
	<h2><div class="icon-bookmark icon-square"></div> ##extra_curricular##</h2>
	<ul>
		{{#items}}
		<li>
		{{title}}
		<span class="right">{{date}}</span>
		</li>
		{{/items}}
	</ul>
	{{/extra_curricular}}

	{{#other_interests}}
	<h2><div class="icon-music icon-square"></div> Other Interests</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/other_interests}}

	{{#contact}}
	<h2><div class="icon-phone icon-square"></div> Hire Me</h2>
	<ul>
		<img src="{{src}}" width="50%">
	</ul>
	{{/contact}}

	<br />
	<div id="bottom-contact" text-size="80%">
		{{#email}}
		<div class="icon-envelope icon-square"></div> {{email}}<br />
		{{/email}}
		{{#phone}}
		<div class="icon-phone icon-square"></div> {{phone}}<br />
		{{/phone}}
		{{#website}}
		<div class="icon-globe icon-square"></div><a href="{{website}}"> {{website}}</a>
		{{/website}}
	</div>
</div>

{{/bio_data}}

{{#settings}}
	{{#icons}}
	<script src="public/js/grunticon.js"></script>
	{{/icons}}
{{/settings}}
</div><!-- End Page -->
