<div id="page">
{{#bio_data}}
	<div id="top-contact">
		{{#qr_code}}
		<img class="contact-qr" src="{{qr_code}}" alt="Contact QR code">
		{{/qr_code}}
		<div class="contact-details">
			{{#email}}
			<div class="icon-envelope icon-square"></div> {{email}}<br />
			{{/email}}
			{{#phone}}
			<div class="icon-phone icon-square"></div> {{phone}}<br />
			{{/phone}}
			{{#github}}
			<div class="icon-github icon-square"></div><a href="{{github_url}}"> {{github}}</a>
			{{/github}}
		</div>
	</div>

	<h1 class="emphnext" style="font-size:3em">{{firstname}} {{familyname}}</h1>
	{{#stars}}
	<span class="stars" style="clear:left">
		 {{#items}}
		 {{name}} {{^last}}<div class="icon-star-o icon-star"></div>{{/last}}
		 {{/items}}
	</span>
	{{/stars}}
	<br/><br/>

	{{#summary}}
	<h2><span class="icon-user icon-square"></span> Objectives</h2>
	<ul>
		{{#points}}
		<li style="list-style-type: square">{{{.}}}</li>
		{{/points}}
	</ul>
	{{/summary}}

	{{#education}}
	<h2><span class="icon-mortar-board icon-rect"></span> ##education##</h2>
	<div class="education-details">
		{{#schools}}
		<div class="resume-entry-header">
			<b class="resume-entry-title">{{institution}}</b>
			<span class="resume-entry-date">{{year}}</span>
		</div>
		<div class="resume-entry-header">
			<span class="resume-entry-title">{{degree}}</span>
			{{#show_gpa}}
			<i class="resume-entry-date">Cumulative GPA: {{gpa}}</i>
			{{/show_gpa}}
		</div>
		{{/schools}}
		<ul>
			{{#details}}
			<li>{{{.}}}</li>
			{{/details}}
		</ul>
	</div>

	{{/education}}

	{{#experience}}
	<h2><span class="icon-briefcase icon-square"></span> ##experience##</h2>
	<ul>
		{{#items}}
		<li>
			<div class="resume-entry-header">
				<span class="resume-entry-title"><b>{{title}}</b>,&nbsp;{{{organization}}}{{#location}}, {{{location}}}{{/location}}</span>
				<span class="resume-entry-date">{{from}} - {{to}}</span>
			</div>
			<ul>
				{{#details}}
				<li>{{{.}}}</li>
				{{/details}}
				{{#technology_used}}
				<li>##technology_used##:
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/experience}}

	{{#research_experience}}
	<h2><span class="icon-mortar-board icon-square"></span> ##research_experience##</h2>
	<ul>
		{{#items}}
		<li>
			<div class="resume-entry-header">
				<b class="resume-entry-title">{{title}}</b>
				<span class="resume-entry-date">{{from}} - {{to}}</span>
			</div>
			<p style="margin-bottom:0">Supervised by: {{{supervisor}}}</p>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/research_experience}}

	{{#leadership_experience}}
	<h2><span class="icon-institution icon-square"></span> Leadership Experience</h2>
	<ul>
		{{#items}}
		<li>
			<div class="resume-entry-header">
				<b class="resume-entry-title">{{title}}</b>
				<span class="resume-entry-date">{{from}} - {{to}}</span>
			</div>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/leadership_experience}}

	{{#extra_curricular}}
	<div class="resume-section-keep">
	<h2><span class="icon-bookmark icon-square"></span> ##extra_curricular##</h2>
	<ul>
		{{#items}}
		<li>
		<div class="resume-entry-header">
			<span class="resume-entry-title">{{title}}</span>
			<span class="resume-entry-date">{{date}}</span>
		</div>
		</li>
		{{/items}}
	</ul>
	</div>
	{{/extra_curricular}}

	{{#projects}}
	<div class="resume-section-keep">
	<h2><span class="icon-gear icon-square"></span> Projects</h2>
	<ul>
		{{#items}}
		<li>
			<b>{{{headline}}}</b>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
				{{#technology_used}}
				<li>##technology_used##:
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
		</li>
		{{/items}}
	</ul>
	</div>
	{{/projects}}

	{{#papers}}
	<h2><span class="icon-edit icon-square"></span> ##papers##</h2>
	<ul>
		{{#items}}
		<li>
			<p style="font-weight:bold; margin-bottom:0">{{title}}</p>
			<p style="float: left; margin-bottom:0.3em">{{authors}}</p>
			<p style="float: right; margin-bottom:0.3em">{{{misc}}}</p>
		</li>
		{{/items}}
	</ul>
	{{/papers}}

	{{#skills}}
	<h2><span class="icon-th-list icon-square"></span> ##skills##</h2>
	<ul class="languages">
		{{#details}}
		<li>{{type}}:
			{{#items}}
			<span class="label label-default">{{name}}</span>
			{{/items}}
		</li>
		{{/details}}
	</ul>
	{{/skills}}

	{{#other_interests}}
	<h2><span class="icon-music icon-square"></span> Other Interests</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/other_interests}}

	{{#contact}}
	<h2><span class="icon-phone icon-square"></span> Hire Me</h2>
	<ul>
		<img src="{{src}}" width="50%">
	</ul>
	{{/contact}}

	<br />
	<div id="bottom-contact">
		{{#email}}
		<div class="icon-envelope icon-square"></div> {{email}}<br />
		{{/email}}
		{{#phone}}
		<div class="icon-phone icon-square"></div> {{phone}}<br />
		{{/phone}}
		{{#website}}
		<div class="icon-globe icon-square"></div><a href="{{website}}"> {{website}}</a>
		{{/website}}
	</div>
</div>

{{/bio_data}}
